<%= simple_form_for @application_form, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :user_id %>
  <%= f.input :form_id %>
  <%= f.input :request_date %>
  <%= f.input :type_of_move %>
  <%= f.input :purpose %>
  <%= f.input :duration %>
  <%= f.input :tracking_id %>
  <%= f.input :status %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                application_forms_path, :class => 'btn' %>
  </div>
<% end %>
