<%= simple_form_for @vehicle, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :vehicle_id %>
  <%= f.input :vehicle_type_id %>
  <%= f.input :unit_id %>
  <%= f.input :vin_id %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vehicles_path, :class => 'btn' %>
  </div>
<% end %>
